@media screen and (max-width: 800px) {
    body {
        background-image: url(./imgs/black-tea-pen-spectacles-and-blank-white-papers-with-clipboard-on-wooden-background.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        height: 800px;
      }
      .input {
        /* campo input adicionar e botoes */
        position: relative;
        top: 30px;
        margin-left: -50px;
        display: block;
      }

      #input2 {
        position: relative;
        display: block;
        top: -130px;
        left: 10px;
        
      }
      #cont-task {
        font-size: 18px;
        height: 400px;
        overflow: auto;
        text-align: center;
        font-size: 18px;
        top: 10px;
      }
      .task{
          font-size: 18px;
      }
}